<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVEY</title>
    <link rel="icon" type="image/png" href="static/images/convey_favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sedan"> -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
</head>

<body> 
    <div id="big-container">
        <header>
            <h1>~ C O N V E Y ~</h1>
        </header>

        <div id="pre-survey">
            <p id="convey-meaning">A CONversational surVEY!</p>
            <p> 
                <b>
                    "Step into the enchanting world of Convey, where Procter, our spirited mascot, dreams of mastering the art of tarot reading with your help. 
                    Each word you share propels Procter forward, symbolized by the gradual growth of his hair. 
                    Once Procter has attained the pinnacle of mastery, he unveils a tarot card, offering insights into your unique persona."
                </b> 
            </p>
            <p id="disclaimer" > (Note: this survey is based on Pantene products) </p>
            <img src="../static/images/first.gif" class="top-image">
            <button onclick="startSurvey()">Start Procter's journey to Tarot Mastery!</button>
        </div>
        
        <div id="survey-container" class="hide">
            <div id="question"></div>
            <div id="image"></div>
            <div id="answers"></div>
            <button id="next-btn" style="display:none;">Next</button>      
        </div>

        <div id="loading-page" class="hide">
	        <p> loading... <p> 
        </div>  

        <footer> 
            <p> Project by Front-Back Fusion Force </p>
        </footer> 
    </div> 

    <script src="{{ url_for('static', filename='script.js') }}">
    </script>
</body>
</html>


