body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(139, 17, 253);
}

#pre-survey, #survey-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(182, 146, 248);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hide {
    display: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"], select {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
}
